<!DOCTYPE html>
<html th:replace="~{layouts/dashboard :: layout(~{::title}, ~{::body})}">
<head>
    <title>Student Index</title>
</head>
<body>
<div class="content container-md">
    <div class="content-header">
        <h2 class="headline headline-xl">Students</h2>
    </div>

    <div class="content-body">
        <ul role="list" class="list">
            <li>
                <div>
                    <img class="avatar avatar-lg"
                         src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                         alt="">
                    <p>
                        <span>Leslie Alexander</span>
                        <span>leslie.alexander@example.com</span>
                    </p>
                </div>
                <a href="#">View</a>
            </li>
            <li>
                <div>
                    <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                         alt="">
                    <p>
                        <span>Michael Foster</span>
                        <span>michael.foster@example.com</span>
                    </p>
                </div>
                <a href="#">View</a>
            </li>
            <li>
                <div>
                    <img src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                         alt="">
                    <p>
                        <span>Dries Vincent</span>
                        <span>dries.vincent@example.com</span>
                    </p>
                </div>
                <a href="#">View</a>
            </li>
            <li>
                <div>
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                         alt="">
                    <p>
                        <span>Lindsay Walton</span>
                        <span>lindsay.walton@example.com</span>
                    </p>
                </div>
                <a href="#">View</a>
            </li>
            <li>
                <div>
                    <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                         alt="">
                    <p>
                        <span>Courtney Henry</span>
                        <span>courtney.henry@example.com</span>
                    </p>
                </div>
                <a href="#">View</a>
            </li>
            <li>
                <div>
                    <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                         alt="">
                    <p>
                        <span>Tom Cook</span>
                        <span>tom.cook@example.com</span>
                    </p>
                </div>
                <a href="#">View</a>
            </li>
        </ul>
    </div>

    <div class="content-footer">
        <p>Copyright &copy; 2025 - Coders Campus</p>
    </div>
</div>
</body>
</html>