<!DOCTYPE html>
<html th:replace="~{layouts/dashboard :: layout(~{::title}, ~{::.content})}">
<head>
    <title>Student Index</title>
</head>
<body>
<div class="content">
    <div class="content-header">
        <h2 class="content-heading">Students</h2>
        <div class="content-actions">
            <button type="button" class="btn btn-primary">button</button>
            <button type="button" class="btn btn-secondary">button</button>
            <button type="button" class="btn btn-accent">button</button>
            <button type="button" class="btn btn-neutral">button</button>
        </div>
    </div>

    <div class="content-body">
        <p>Student index.html page content</p>
    </div>
</div>
</body>
</html>