<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">Students</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/student/create">Create New</a>
                        </button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <div class="ui-table" role="region" tabindex="0">
                        <table>
                            <thead>
                            <tr>
                                <th scope="col">Name:</th>
                                <th scope="col">Assignment Number:</th>
                                <th scope="col">Github Handle:</th>
                                <th scope="col">LinkedIn:</th>
                                <th scope="col">IDE:</th>
                                <th scope="col">Final Project:</th>
                                <th scope="col">Resume:</th>
                                <th scope="col">Networking:</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span th:text="${student.name}"></span></td>
                                <td><span th:text="${student.assignmentNum}"></span></td>

                                <!-- <td>'s below need to be removed when we bring back in the objects -->
                                <td></td>
                                <td></td>
                                <!-- <td>'s above need to be removed when we bring back in the objects -->

                                <!--                              <td><span th:text="${student.githubHandle.handle}"></span></td>-->
                                <!--                              <td><span th:text="${student.linkedIn.url}"></span></td>-->
                                <!--                              <td><span th:text="${student.ide}"></span></td>-->

                                <!-- <td>'s below need to be removed when we bring back in the objects -->
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <!-- <td>'s above need to be removed when we bring back in the objects -->

                                <!-- <td><span th:text="${student.youtube.profile}"></span></td>
                                <td><span th:text="${student.finalProject.title}"></span></td>
                                <td><span th:text="${student.resume.resumeFile}"></span></td>
                                <td><span th:text="${student.networking.meetups}"></span></td>
                                <td><span th:text="${student.website.url}"></span></td> -->
                                <td>
                                    <a th:href="@{/student/update/{studentId}(studentId=${student.id})}">
                                        <span>
                                         <i class="fa-solid fa-pen-to-square"
                                            style="color: var(--primary); font-size:20px; font-weight:100"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>
<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>
</html>