<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">Students</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/student/create">Create New</a></button>
                        <button class="ui-nav-item ui-button" type="button"><a aria-current="page" href="/student/">Back</a></button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <form method="post" action="/student/update" class="ui-form">
                        <input type="hidden" id="new-uid" th:field="${student.uid}"/>
                        <input class="form-control" type="hidden" th:field="${student.id}"/>

                        <div class="ui-input-field">
                            <label class="ui-label">Name:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="text" id="display-name" th:field="${student.name}"/>
                            </div>
                        </div>

                        <div class="ui-input-field">
                            <label class="ui-label">Assignment #:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="text" placeholder="ex: 1, 10, 15..."
                                       th:field="${student.assignmentNum}"/>
                            </div>
                        </div>


                        <!-- Hidden Fields (updated by KevinGallaccio to fit new UI)

                        <div class="ui-input-field">
                            <label class="ui-label">GitHub Handle:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="text" placeholder="ex: JaneDoe" th:field="${student.githubHandle.handle}" />
                            </div>
                        </div>

                        <div class="ui-input-field">
                            <label class="ui-label">LinkedIn URL:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="text" placeholder="ex: https://www.linkedin.com/in/jdoe" th:field="${student.linkedIn.url}" />
                            </div>
                        </div>

                        -->


                        <div class="ui-input-field">
                            <label class="ui-label">IDE:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="text" placeholder="ex: IntelliJ, Eclipse..."
                                       th:field="${student.ide}"/>
                            </div>
                        </div>


                        <!-- More Hidden Fields (updated by KevinGallaccio to fit new UI)

                        <div class="ui-input-field">
                            <label class="ui-label">YouTube:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="text" placeholder="ex: www.youtube.com/CodersCampus" th:field="${student.youtube.profile}" />
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label class="ui-label">Final Project:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="text" placeholder="ex: www.my-link.com" th:field=${student.finalProject.title}" />
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label class="ui-label">My Resume:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="text" placeholder="ex: www.my-link.com" th:field="${student.resume.resumeFile}" />
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label class="ui-label">Networking:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="text" placeholder="ex: next meetup on 1/1/25" th:field="${student.networking.meetups}" />
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label class="ui-label">Website:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="text" placeholder="ex: www.my-link.com" th:field="${student.website.url}" />
                            </div>
                        </div>
                        -->
                        <button onfocus="assignUid()" class="ui-nav-item ui-button" type="submit"><span>Update</span></button>
                    </form>
                    <form method="post" action="/student/delete" class="ui-form" style="padding-top:0;">
                        <input type="hidden" id="new-uid" th:field="${student.id}"/>
                        <button class="ui-nav-item ui-button-danger" type="submit"><span>Delete</span></button>
                    </form>

                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>
<div th:replace="~{fragments/authscript :: script}"></div>
</body>

</html>


