<!DOCTYPE html>
<html th:replace="~{fragments/baseLayout :: layout(~{::title}, ~{::main},~{::ul} )}">
<body class="ui-background">
<ul class="ui-navbar-nav">
    <button class="ui-nav-item ui-button" type="button"><a href="/networkingresources/create">Create New</a>
    </button>
</ul>
<main>
    <div class="ui-table" role="region" tabindex="0">
        <table>
            <thead>
            <tr>
                <th scope="col">Resource Name:</th>
                <th scope="col">Type:</th>
                <th scope="col">Cost:</th>
                <th scope="col">Geographic Scope:</th>
                <th scope="col">Notes:</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="networkingresource: ${networkingresources}">
                <td><span th:text="${networkingresource.resourceName}"></span></td>
                <td><span th:text="${networkingresource.type}"></span></td>
                <td><span th:text="${networkingresource.cost}"></span></td>
                <td><span th:text="${networkingresource.geographicScope}"></span></td>
                <td><span th:text="${networkingresource.notes}"></span></td>
                <td>
                    <a th:href="@{/networkingresources/update/{networkingresourcesId}(networkingresourcesId=${networkingresources.id})}">
                        <i class="fa-solid fa-pen-to-square"
                           style="color: var(--primary); font-size:20px; font-weight:100"></i>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</main>
</div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</div>
</fbauth-element>

<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>
</html>









