.idea/
.idea/misc.xml
target/
.classpath
.project
.settings
SpringWise.iml
cp.iml
CP.iml
bin/
.vscode/
.DS_Store
tmp/
appmap.yml
sql_warning.txt
h2db/
node_modules/.pnpm/node_modules/@parcel/watcher-win32-x64/watcher.node
/node_modules
