<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">Resume</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/resume/create">Create New</a>
                        </button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <div class="ui-table" role="region" tabindex="0">
                        <table>
                            <thead>
                            <tr>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email</th>
                                <th scope="col">City</th>
                                <th scope="col">State</th>
                                <th scope="col">LinkedIn</th>
                                <th scope="col">gitHub</th>
                                <th scope="col">Summary</th>
                                <th scope="col">Skills</th>
                                <th scope="col">Work Experience</th>
                                <th scope="col">Education</th>
                                <th scope="col">Projects</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="resume: ${resumes}">
                                <td><span th:text="${resume.phoneNumber}"></span></td>
                                <td><span th:text="${resume.email}"></span></td>
                                <td><span th:text="${resume.city}"></span></td>
                                <td><span th:text="${resume.state}"></span></td>
                                <td><span th:text="${resume.linkedIn}"></span></td>
                                <td><span th:text="${resume.gitHub}"></span></td>
                                <td><span th:text="${resume.summary}"></span></td>
                                <td><span th:text="${resume.skills}"></span></td>
                                <td><span th:text="${resume.workExperience}"></span></td>
                                <td><span th:text="${resume.education}"></span></td>
                                <td><span th:text="${resume.projects}"></span></td>
                                <td>
                                    <a th:href="@{/resume/update/{resumeId}(resumeId=${resume.id})}">
                                        <i class="fa-solid fa-pen-to-square"
                                           style="color: var(--primary); font-size:20px; font-weight:100"></i>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>

<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>
</html>









