<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/dashboard :: layout(~{::title}, ~{::body})}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>My Profile</title>
</head>
<body>
<div class="content container-lg">
    <div class="content-header">
        <h2 class="headline headline-xl">My Profile</h2>
    </div>

    <div class="content-body">
        <div class="profile-tabs tabs tabs-border">
            <input type="radio" name="my_tabs_2" class="tab" aria-label="Personal Information" checked="checked"/>
            <div class="tab-content">
                <section>
                    <hgroup>
                        <h3>Personal Information</h3>
                        <p>What’s the best way for employers to contact you?</p>
                    </hgroup>

                    <form class="columns-8">
                        <div class="input col-span-4">
                            <label for="first-name">First name</label>
                            <div>
                                <input id="first-name" type="text" name="firstName" placeholder="Riley"
                                       autocomplete="first-name"/>
                            </div>
                        </div>

                        <div class="input col-span-4">
                            <label for="last-name">Last name</label>
                            <div>
                                <input id="last-name" type="text" name="lastName" placeholder="Taylor"
                                       autocomplete="last-name"/>
                            </div>
                        </div>

                        <div class="input col-span-4">
                            <label for="city">City</label>
                            <div>
                                <input id="city" type="text" name="city" placeholder="San Francisco"
                                       autocomplete="city"/>
                            </div>
                        </div>

                        <div class="input col-span-2">
                            <label for="state">State/Province</label>
                            <div>
                                <input id="state" type="text" name="state" placeholder="CA" autocomplete="state"/>
                            </div>
                        </div>

                        <div class="input col-span-2">
                            <label for="zipCode">Zip Code</label>
                            <div>
                                <input id="zipCode" type="text" name="zipCode" placeholder="94102"
                                       autocomplete="zip-code"/>
                            </div>
                        </div>

                        <div class="input col-span-4">
                            <label for="phoneNumber">Phone Number</label>
                            <div>
                                <input id="phoneNumber" type="text" name="phoneNumber" placeholder="415-555-5555"
                                       autocomplete="phone-number"/>
                            </div>
                        </div>

                        <div class="input col-span-4">
                            <label for="email">Email Address</label>
                            <div>
                                <input id="email" type="email" name="email" placeholder="riley.taylor@example.com"
                                       autocomplete="email"/>
                            </div>
                        </div>

                        <div class="input input-file col-span-4">
                            <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                 alt="" class="avatar avatar-xl avatar-square"/>
                            <div>
                                <button type="button" class="button button-neutral">Change avatar</button>
                                <p class="text-xs">JPG, GIF or PNG. 1MB max.</p>
                            </div>
                        </div>

                        <div class="input input-url col-span-6">
                            <label for="websiteUrl">Website Url</label>
                            <div>
                                <span>https://</span>
                                <input id="websiteUrl" type="text" name="websiteUrl" placeholder="www.rileytaylor.dev"
                                       autocomplete="website-url"/>
                            </div>
                        </div>

                        <div class="col-span-2"></div>

                        <div class="input input-url col-span-6">
                            <label for="linkedInUrl">Linkedin Url</label>
                            <div>
                                <span>https://linkedin/in/</span>
                                <input id="linkedInUrl" type="text" name="linkedInUrl" placeholder="rileytaylor"
                                       autocomplete="linkedin-url"/>
                            </div>
                        </div>

                        <div class="col-span-2"></div>

                        <div class="input input-url col-span-6">
                            <label for="githubUrl">Github Url</label>
                            <div>
                                <span>https://github.com/</span>
                                <input id="githubUrl" type="text" name="githubUrl" placeholder="rileytalor"
                                       autocomplete="github-url"/>
                            </div>
                        </div>

                        <div class="col-span-2"></div>

                        <button type="submit" class="button button-primary">Save</button>
                    </form>
                </section>
            </div>

            <input type="radio" name="my_tabs_2" class="tab" aria-label="Resume"/>
            <div class="tab-content">
                <section>
                    <hgroup>
                        <h3>Summary</h3>
                        <p>Briefly tell us about your background</p>
                    </hgroup>

                    <form class="form">
                        <div class="input">
                            <label for="summary">Summary</label>
                            <div>
                            <textarea id="summary" name="summary" rows="4"
                                      placeholder="Write your summary here."></textarea>
                            </div>
                        </div>

                        <button type="submit" class="button button-primary">Save</button>
                    </form>
                </section>

                <section>
                    <hgroup>
                        <h3>Skills</h3>
                        <p>What skills would you like to highlight?</p>
                    </hgroup>

                    <form class="form">
                        <div class="input">
                            <label for="skills">Skills</label>
                            <div>
                                <textarea id="skills" name="skills" rows="3"
                                          placeholder="Add your skills here."></textarea>
                                <p>Each skill must be separated with a comma.</p>
                            </div>
                        </div>
                        <button type="submit" class="button button-primary">Save</button>
                    </form>
                </section>

                <section>
                    <hgroup>
                        <h3>Experience</h3>
                        <p>Tell us about your most recent job.</p>
                    </hgroup>

                    <form class="columns-8">
                        <div class="input col-span-4">
                            <label for="jobTitle">Job Title *</label>
                            <div>
                                <input id="jobTitle" name="jobTitle" type="text" placeholder="Software Developer"
                                       autocomplete="job-title"/>
                            </div>
                        </div>

                        <div class="input col-span-4">
                            <label for="employer">Employer *</label>
                            <div>
                                <input id="employer" name="employer" type="text" placeholder="WeMakeGoodSoftware"
                                       autocomplete="employer"/>
                            </div>
                        </div>

                        <div class="input col-span-4">
                            <label for="location">Location</label>
                            <div>
                                <input id="location" name="location" type="text"
                                       placeholder="Antario (CA), Remote, etc..."
                                       autocomplete="location"/>
                            </div>
                        </div>

                        <div class="col-span-4"></div>

                        <div class="input col-span-2">
                            <label for="start-month">Start Date</label>
                            <div>
                                <select id="start-month" name="startMonth">
                                    <option value="">Month</option>
                                    <option th:each="month : ${months}" th:value="${month}" th:text="${month}">Month
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="input col-span-2">
                            <label for="start-year" class="invisible">End Year</label>
                            <div>
                                <select id="start-year" name="startYear">
                                    <option value="">Year</option>
                                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}">Year</option>
                                </select>
                            </div>
                        </div>

                        <div class="input col-span-2">
                            <label for="end-month">End Date</label>
                            <div>
                                <select id="end-month" name="endMonth">
                                    <option value="">Month</option>
                                    <option th:each="month : ${months}" th:value="${month}" th:text="${month}">Month
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="input col-span-2">
                            <label for="end-year" class="invisible">End Year</label>
                            <div>
                                <select id="end-year" name="endYear">
                                    <option value="">Year</option>
                                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}">Year</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="button button-primary">Save</button>
                    </form>
                </section>

                <section>
                    <hgroup>
                        <h3>Education</h3>
                        <p>Enter your education experience so far, even if you are a current student or did not
                            graduate.</p>
                    </hgroup>

                    <form class="columns-8">
                        <div class="input col-span-4">
                            <label for="school-name">School Name</label>
                            <div>
                                <input id="school-name" name="schoolName" type="text" placeholder="Beloit College"
                                       autocomplete="school-name"/>
                            </div>
                        </div>

                        <div class="input col-span-4">
                            <label for="school-location">School Location</label>
                            <div>
                                <input type="text" id="school-location" name="schoolLocation" placeholder="Beloit, WI"
                                       autocomplete="school-location">
                            </div>
                        </div>

                        <div class="input col-span-4">
                            <label for="degree">Degree</label>
                            <div>
                                <select id="degree" name="degree">
                                    <option value="">Select</option>
                                    <option th:each="degree : ${degrees}" th:value="${degree}" th:text="${degree}">
                                        Degree
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-span-4"></div>

                        <div class="input col-span-4">
                            <label for="field-of-study">Field of Study</label>
                            <div>
                                <input id="field-of-study" name="fieldOfStudy" type="text"
                                       placeholder="e.g. Computer Science"
                                       autocomplete="field-of-study"/>
                            </div>
                        </div>

                        <div class="input col-span-2">
                            <label for="graduation-month">Graduation Date</label>
                            <div>
                                <select id="graduation-month" name="graduationMonth">
                                    <option value="">Month</option>
                                    <option th:each="month : ${months}" th:value="${month}" th:text="${month}">Month
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="input col-span-2">
                            <label for="graduation-year" class="invisible">Graduation Date</label>
                            <div>
                                <select id="graduation-year" name="graduationDate">
                                    <option value="">Year</option>
                                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}">Year</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="button button-primary">Save</button>
                    </form>
                </section>

                <section>
                    <hgroup>
                        <h3>Certifications</h3>
                        <p>What certifications do you have?</p>
                    </hgroup>

                    <form>
                        <div class="input col-span-4">
                            <label for="certificate">Certificate</label>
                            <div>
                                <input id="certificate" name="certificate" type="text"
                                       placeholder="UX Design Professional"
                                       autocomplete="certificate"/>
                            </div>
                        </div>

                        <div class="input col-span-2">
                            <label for="organization">Organization</label>
                            <div>
                                <input id="organization" name="organization" type="text" placeholder="Google"
                                       autocomplete="organization"/>
                            </div>
                        </div>

                        <button type="submit" class="button button-primary">Save</button>
                    </form>
                </section>

                <section>
                    <hgroup>
                        <h3>Projects</h3>
                        <p>List your projects here.</p>
                    </hgroup>

                    <form class="form">
                        <div class="input">
                            <label for="title">Project Title</label>
                            <div>
                                <input id="title" name="title" type="text" placeholder="E-commerce Web App"
                                       autocomplete="title"/>
                            </div>
                        </div>

                        <div class="input">
                            <label for="description">Project Description</label>
                            <div>
                                <textarea id="description" name="description" rows="4"
                                          placeholder="Describe of your project here."></textarea>
                            </div>
                        </div>

                        <div class="input">
                            <label for="skills-used">Skills Used</label>
                            <div>
                                <textarea id="skills-used" name="skillsUsed" rows="2"
                                          placeholder="Add the skills used in this projects."></textarea>
                            </div>
                        </div>

                        <div class="input col-span-3">
                            <label for="website-url">Website Url</label>
                            <div>
                                <input id="website-url" name="websiteUrl" type="text"
                                       placeholder="https://project-website.example.com" autocomplete="website-url"/>
                            </div>
                        </div>

                        <div class="input col-span-3">
                            <label for="github-repository">GitHub Repository</label>
                            <div>
                                <input id="github-repository" name="githubRepo" type="text"
                                       placeholder="https://github.com/username/repository.git"
                                       autocomplete="github-repository"/>
                            </div>
                        </div>

                        <button type="submit" class="button button-primary">Save</button>
                    </form>
                </section>

                <section>
                    <hgroup>
                        <h3>Languages</h3>
                        <p>List the languages you speak.</p>
                    </hgroup>

                    <form class="form">
                        <div class="input">
                            <label for="languages">Languages</label>
                            <div>
                                <input id="languages" name="languages" type="text" autocomplete="languages"/>
                            </div>
                        </div>

                        <button type="submit" class="button button-primary">Save</button>
                    </form>
                </section>
            </div>

            <input type="radio" name="my_tabs_2" class="tab" aria-label="Linkedin"/>
            <div class="tab-content">
                <section>
                    <hgroup>
                        <h3>LinkedIn information</h3>
                        <p>Update the LinkedIn associated with your account.</p>
                    </hgroup>

                    <form class="form">
                        <div class="input input-checkbox">
                            <div>
                                <input id="banner-section" type="checkbox" name="banner">
                            </div>
                            <label for="banner-section">Did you upload a profile banner?</label>
                        </div>

                        <div class="input input-checkbox">
                            <div>
                                <input id="about-section" type="checkbox" name="about">
                            </div>
                            <label for="about-section">Did you write in the about section?</label>
                        </div>

                        <div class="input input-checkbox">
                            <div>
                                <input id="url-section" type="checkbox" name="url">
                            </div>
                            <label for="url-section">Did you add your personal Urls?</label>
                        </div>

                        <div class="input input-checkbox">
                            <div>
                                <input id="featured-posts-section" type="checkbox" name="featuredPosts">
                            </div>
                            <label for="featured-posts-section">Did you write posts?</label>
                        </div>

                        <div class="input input-checkbox">
                            <div>
                                <input id="activity-section" type="checkbox" name="activity">
                            </div>
                            <label for="activity-section">Did you add some activities?</label>
                        </div>

                        <div class="input input-checkbox">
                            <div>
                                <input id="skills-section" type="checkbox" name="skills">
                            </div>
                            <label for="skills-section">Did you add your skills?</label>
                        </div>

                        <button type="submit" class="button button-primary">Save</button>
                    </form>
                </section>
            </div>

            <input type="radio" name="my_tabs_2" class="tab" aria-label="GitHub"/>
            <div class="tab-content">Tab content GitHub</div>

            <input type="radio" name="my_tabs_2" class="tab" aria-label="Final Project"/>
            <div class="tab-content">Tab content Final Project</div>

            <input type="radio" name="my_tabs_2" class="tab" aria-label="Networking"/>
            <div class="tab-content">Tab content 3</div>
        </div>
    </div>

    <div class="content-footer">
        <p>Copyright &copy; 2025 - Coders Campus</p>
    </div>
</div>
</body>
</html>