<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body>
<fbauth-element>
    <div layout="layout-sidebar">
        <div class="ui-margins">
            <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        </div>
        <div class="sidebar-grid-area">
            <section class="ui-panel-title title-small">Foobar</section>
            <nav class="ui-panel">
                <ul class="ui-navbar-nav">
                    <li class="ui-nav-item"><a class="ui-button" href="/foobar/create">Create New</a></li>
                </ul>
            </nav>
        </div>
        <div class="ga-content-main">
            <main>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="foobar: ${foobars}">
                        <td><span th:text="${foobar.name}"></span></td>
                        <td><a th:href="@{/foobar/update/{foobarId}(foobarId=${foobar.id})}">
					<span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                               class="bi bi-view-list" viewBox="0 0 16 16">
  <path d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z"/>
</svg></span> </a></td>
                    </tr>

                    </tbody>
                </table>
            </main>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>

<div th:replace="~{fragments/authscript :: script}"></div>
</body>
</html>









