:root {
	--primary-color: #2654b7;
	--primary-text-color: #243f93;
	--text-color: ;
	--primary-color-lighter: ;
	--primary-color-darker: ;

	--contrast-color-light: ;

	--contrast-color-dark: ;

}


/*ORIGINAL BACKGROUND*/
/*html,body{*/
/*	background-image: linear-gradient(to right top, #03b703, #00b693, #00aae8, #0090fa, #996ccb);*/
/*	 height: 100%;*/
/*}*/

/*FIRST*/
/*html, body {*/
/*	background-image: linear-gradient(to bottom right, #c8d9ed, #c8d9ed);*/
/*	height: 100%;*/
/*}*/


/*SECOND*/
html, body {
	background-image: linear-gradient(to bottom right, #D2E2F9, #D2E2F9);
	height: 100%;
}

/*THIRD*/
/*html, body {*/
/*	background-image: linear-gradient(to bottom right, #DDE8FA, #DDE8FA);*/
/*	height: 100%;*/
/*}*/

/*FOURTH*/
/*html, body {*/
/*	background-image: linear-gradient(to bottom right, #EEEFF1, #EEEFF1);*/
/*	height: 100%;*/
/*}*/

.header-home {
	font-size: 22px;
	font-family: "DM Sans", "Arial", "Helvetica", "sans-serif";
}




