<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">LinkedIn</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/linkedin/create">Create New</a>
                        </button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <form action="/linkedin/update" class="ui-form" method="post">
                        <div th:if="${error}" class="ui-error-message">
                            <p th:text="${error}"></p>
                        </div>
                        <input name="uid" th:field="${linkedIn.id}" type="hidden"/>
                        <div class="ui-input-field">
                            <label for="firstName" class="ui-label">First Name:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="firstName" th:field="${linkedIn.firstName}" type="text"/>
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label for="lastName" class="ui-label">Last Name:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="lastName" th:field="${linkedIn.lastName}" type="text"/>
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label for="url" class="ui-label">Url:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="url" th:field="${linkedIn.url}" type="url"/>
                            </div>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have made a banner">
                            <label for="banner" class="ui-label">Banner:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="banner" th:field="${linkedIn.banner}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.banner} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field"
                             title="Check this box if you have filled out your &ldquo;about section&rdquo;">
                            <label for="about" class="ui-label">About:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="about" th:field="${linkedIn.about}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.about} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have featured posts selected">
                            <label for="featuredPosts" class="ui-label">Featured Posts:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="featuredPosts"
                                       th:field="${linkedIn.featuredPosts}" type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.featuredPosts} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field"
                             title="Check this box if you have enough activity that it fills the section">
                            <label for="activity" class="ui-label">Activity:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="activity" th:field="${linkedIn.activity}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.activity} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have entered your skills">
                            <label for="skills" class="ui-label">Skills:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="skills" th:field="${linkedIn.skills}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.skills} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if your email is in your contact details">
                            <label for="email" class="ui-label">Email:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="email" th:field="${linkedIn.email}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.email} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you filled out your bio">
                            <label for="biography" class="ui-label">Biography:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="biography" th:field="${linkedIn.biography}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.biography} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have entered your education">
                            <label for="education" class="ui-label">Education:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="education" th:field="${linkedIn.education}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.education} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have entered your experience">
                            <label for="experience" class="ui-label">Experience:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="experience" th:field="${linkedIn.experience}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.experience} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have your location publicly displayed">
                            <label for="location" class="ui-label">Location:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="location" th:field="${linkedIn.location}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.location} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have a profile picture of your face">
                            <label for="image" class="ui-label">Image:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="image" th:field="${linkedIn.image}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.image} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have entered your title">
                            <label for="title" class="ui-label">Title:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="title" th:field="${linkedIn.title}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${linkedIn.title} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <button class="ui-nav-item ui-button" type="submit"><span>Update</span></button>
                    </form>
                    <form action="/linkedin/delete" class="ui-form" method="post" style="padding-top:0;">
                        <input th:field="${linkedIn.id}" type="hidden"/>
                        <button class="ui-nav-item ui-button-danger" type="submit"><span>Delete</span></button>
                    </form>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>

<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
<div th:replace="~{fragments/tasktogglescript :: script}"></div>
</body>

</html>