<!DOCTYPE html>
<html th:replace="~{fragments/baseLayout :: layout(~{::title}, ~{::main},~{::ul} )}">
<body class="ui-background">
<ul class="ui-navbar-nav">
    <button class="ui-nav-item ui-button" type="button">
        <a href="/work/create">Create New</a>
    </button>
</ul>
<main>
    <div class="ui-table" role="region" tabindex="0">
        <table>
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Assignment Number</th>
                <th scope="col">Description</th>
                <th scope="col">Number of Minutes</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="work : ${workList}">
                <td><span th:text="${work.studentName}"></span></td>
                <td><span th:text="${work.assignmentNumber}"></span></td>
                <td><span th:text="${work.description}"></span></td>
                <td><span th:text="${work.numberMinutes}"></span></td>
                <td><span th:text="${#dates.format(work.date, 'MMM d, yyyy hh:mm a')}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>

