<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">Work Log</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/works/new">Create New</a></button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <form action="/works/create" class="ui-form" method="post">
                        <input id="uid" name="uid" type="hidden"/>
                        <div class="ui-input-field">
                            <label class="ui-label">Name:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="display-name" th:field="${work.student.name}" type="text" readonly/>
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label class="ui-label">Worked:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" th:field="${work.worked}" type="checkbox"/>
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label class="ui-label">Assignment Number:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" placeholder="ex: 3" th:field="${work.assignmentNumber}" type="number"/>
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label class="ui-label">Number of Hours:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" placeholder="ex: 5" th:field="${work.numberHours}" type="number"/>
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label class="ui-label">Description:</label>
                            <div class="ui-text-input">
                                <textarea class="ui-value" th:field="${work.description}" rows="4"></textarea>
                            </div>
                        </div>
                        <button class="ui-nav-item ui-button" type="submit"><span>Create</span></button>
                    </form>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>
<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>

</html>

<!-- <!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Work Log</title>
</head>
<body>
    <h1>Work Log</h1>
    <form action="/works/create" method="post">
        <div>
            <label>Name:</label>
            <input type="text" th:field="${work.student.name}" readonly/>
        </div>
        <div>
            <label>Worked:</label>
            <input type="checkbox" th:field="${work.worked}"/>
        </div>
        <div>
            <label>Assignment Number:</label>
            <input type="number" th:field="${work.assignmentNumber}"/>
        </div>
        <div>
            <label>Number of Hours:</label>
            <input type="number" th:field="${work.numberHours}"/>
        </div>
        <div>
            <label>Description:</label>
            <textarea th:field="${work.description}" rows="4"></textarea>
        </div>
        <button type="submit">Create</button>
    </form>
</body>
</html> -->



