<header th:fragment="navbar(activePage)" class="header-grid-area">
    <nav class="ui-navbar">
        <div class="ui-container-fluid">
            <a class="ui-navbar-brand display-small-bold-italic" href="/">cp</a>
            <ul class="ui-navbar-nav">
                <li class="ui-nav-item" th:unless="${isStudent}"
                    th:classappend="${activePage == 'student'} ? 'active'">
                    <a class="ui-nav-link" href="/student/">Student</a>
                </li>
                <li class="ui-nav-item" th:unless="${isUserHistory}"
                    th:classappend="${activePage == 'user-history'} ? 'active'">
                    <a class="ui-nav-link" href="/user-history/">User Queue</a>
                </li>
                <li class="ui-nav-item" th:unless="${isCheckin}"
                    th:classappend="${activePage == 'checkin'} ? 'active'">
                    <a class="ui-nav-link" href="/checkin/">Check-In</a>
                </li>
                <li class="ui-nav-item" th:unless="${isDatabaseConsole}"
                    th:classappend="${activePage == 'h2-console'} ? 'active'">
                    <a class="ui-nav-link" href="/h2-console/">Database Console</a>
                </li>
            </ul>
        </div>
    </nav>
</header>