<header class="header-grid-area" th:fragment="navbar(activePage)">
    <nav class="ui-navbar">
        <div class="ui-container-fluid">
            <a class="ui-navbar-brand headline-large-bold-italic" href="/">cp</a>
            <ul class="ui-navbar-nav">
                <li class="ui-nav-item" th:classappend="${isStudent} ? 'active'">
                    <a class="ui-nav-link" href="/student/" th:classappend="${isStudent} ? 'active-link'">Student</a>
                </li>
                <li class="ui-nav-item" th:classappend="${isCheckin} ? 'active'">
                    <a class="ui-nav-link" href="/checkin/" th:classappend="${isCheckin} ? 'active-link'">Check-In</a>
                </li>
                <li class="ui-nav-item" th:classappend="${isWorkLog} ? 'active'">
                    <a class="ui-nav-link" href="/work/create" th:classappend="${isWorkLog} ? 'active-link'">Work Log</a>
                </li>
                <li class="ui-nav-item" th:classappend="${isResume} ? 'active'">
                    <a class="ui-nav-link" href="/resume/" th:classappend="${isResume} ? 'active-link'">Resume</a>
                </li>
                <li class="ui-nav-item" th:if="${showDatabaseConsoleLink}" th:classappend="${isDatabaseConsole} ? 'active'">
                    <a class="ui-nav-link" href="/h2-console/" th:classappend="${isDatabaseConsole} ? 'active-link'">Database
                        Console</a>
                </li>
            </ul>
        </div>
        <div class="ui-container-fluid">
            <div class="ui-nav-item">
                <div class="title-small" id="student-name"></div>
            </div>
            <img class="profile-picture" id="photo-url"/>
        </div>
    </nav>
</header>