<header th:fragment="navbar(activePage)" class="header-grid-area">
    <nav class="ui-navbar">
        <div class="ui-container-fluid">
            <a class="ui-navbar-brand headline-large-bold-italic" href="/">cp</a>
            <ul class="ui-navbar-nav">
                <li class="ui-nav-item" th:classappend="${isStudent} ? 'active'">
                    <a class="ui-nav-link" th:classappend="${isStudent} ? 'active-link'" href="/student/">Student</a>
                </li>
                <li class="ui-nav-item" th:classappend="${isUserHistory} ? 'active'">
                    <a class="ui-nav-link" th:classappend="${isUserHistory} ? 'active-link'" href="/user-history/">User
                        Queue</a>
                </li>
                <li class="ui-nav-item" th:classappend="${isCheckin} ? 'active'">
                    <a class="ui-nav-link" th:classappend="${isCheckin} ? 'active-link'" href="/checkin/">Check-In</a>
                </li>
                <li class="ui-nav-item" th:classappend="${isDatabaseConsole} ? 'active'">
                    <a class="ui-nav-link" th:classappend="${isDatabaseConsole} ? 'active-link'" href="/h2-console/">Database
                        Console</a>
                </li>
            </ul>
        </div>
        <div class="ui-container-fluid">
            <div class="ui-nav-item">
                <div class="title-small" id="student-name"></div>
            </div>
            <img class="profile-picture" id="photo-url"/>
        </div>
    </nav>
</header>