<script th:inline="javascript">
    /*<![CDATA[*/
    let roleList = /*[[${roleList}]]*/ '["Select Role"]';
    let codingTypeList = /*[[${codingType}]]*/ '["Select Coding Type"]';
    /*]]>*/
    const nextAssignment = document.getElementById('next-assignment').value;
    const issueNumberElm = document.getElementById('issue-number');
    const addActivityBtn = document.getElementById('add-activity-button');
    const roleElm = document.getElementById('role');
    const codingTypeElm = document.getElementById('coding-type');

    if (nextAssignment < 6) {
        issueNumberElm.disabled = true;
        roleElm.innerHTML = roleList
                .filter(role => role === 'FOUNDATIONS')
                .map(role => `<option class="ui-option" value="${role}">${role}</option>`)
                .join('');
        codingTypeElm.innerHTML = codingTypeList
                .slice(0, 3)
                .map(codingType => `<option class="ui-option" value="${codingType}">${codingType}</option>`)
                .join('');
        // .filter(codingType => codingType === 'NOT_APPLICABLE' || codingType === 'DRILLS' || codingType === 'PARKING_LOT')  // only show these coding types
    } else {
        issueNumberElm.disabled = false;
        roleElm.innerHTML = roleList
                .filter(role => role !== 'FOUNDATIONS')
                .map(role => `<option class="ui-option" value="${role}">${role}</option>`)
                .join('');
        codingTypeElm.innerHTML = codingTypeList
                .slice(3, 7)
                .map(codingType => `<option class="ui-option" value="${codingType}">${codingType}</option>`)
                .join('');
        addActivityBtn.disabled = true
        issueNumberElm.addEventListener('change', () => addActivityBtn.disabled = issueNumberElm.value === '')
    }
</script>