<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleSwitches = document.querySelectorAll('.ui-checkbox');

        toggleSwitches.forEach(group => {
            const checkbox = group.querySelector('.ui-hidden-checkbox');
            const text = group.querySelector('.ui-toggle-text');

            checkbox.addEventListener('change', function () {
                text.textContent = this.checked ? 'Completed' : 'Not Complete';
            });
        });
    });
</script>