<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/dashboard :: layout(~{::title}, ~{::body})}">
<head>
    <title>Documentation</title>
</head>
<body>
<div class="content container-md">
    <div class="content-header">
        <h2 class="headline headline-xl">Documentation</h2>
    </div>

    <div class="content-body">
      <p>This page contains the documentation for this application.</p>
    </div>

    <div class="content-footer">
        <p>Copyright &copy; 2025 - Coders Campus</p>
    </div>
</div>
</body>
</html>