<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/dashboard :: layout(~{::title}, ~{::body})}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>My Profile</title>
</head>
<body>
<div class="content container-sm">
    <div class="content-body">
        <div class="content-card">
            <div class="py-6 px-12 text-center">
                <h1 class="text-8xl">401 Unauthorized</h1>
                <p>You do not have permission to access this resource.</p>
                <p>Please ensure you are logged in with the correct credentials.</p>
                <a href="/" class="btn btn-link">Return to dashboard</a>
            </div>
        </div>
    </div>

    <div class="content-footer">
        <p>Copyright &copy; 2025 - Coders Campus</p>
    </div>
</div>
</body>
</html>