[layout="layout-sidebar"] {
    display: grid;
    grid-template-columns: 360px 1fr 120px;
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-template-areas:
        "sidebar content-main margin-right";
    margin: 60px 0;
}

.sidebar-grid-area {
    grid-area: sidebar;
}

.ga-content-main {
    grid-area: content-main;
}

/* I removed all other grid layouts except for sidebar + main-content on student, checkin, user-history and foobar */

/*body[layout='layout-secured'] {*/
/*    display: grid;*/
/*    grid-template-columns: 110px auto 110px;*/
/*    align-items: center;*/
/*    justify-items: center;*/
/*}*/

/*body[layout='layout-sidebar-secured'] {*/
/*    display: grid;*/
/*    grid-template-columns: auto;*/
/*    align-items: center;*/
/*    justify-items: center;*/
/*}*/

/*fbauth-element {*/
/*    grid-column: 2;*/
/*    padding: 10px;*/
/*}*/

/*[layout="layout-home"] {*/
/*    display: grid;*/
/*    grid-template-columns: minmax(800px, 2000px);*/
/*    grid-template-rows: 120px 600px 95px;*/
/*    grid-template-areas:*/
/*    "head-main"*/
/*    "content-main"*/
/*    "foot-main";*/
/*    grid-auto-rows: 0;*/
/*    grid-auto-columns: 0;*/
/*    overflow-x: hidden;*/
/*}*/

/*!* Center vertically the navbar*!*/
/*[layout="layout-home"] > :first-child {*/
/*    align-self: center;*/
/*}*/


/*.sidebar-grid-area {*/
/*    grid-area: content-side;*/
/*}*/


/*.ga-foot-main {*/
/*    grid-area: foot-main;*/
/*}*/

/*@media (max-width: 1024px) {*/
/*    body[layout='layout-home'],*/
/*    body[layout='layout-sidebar'] {*/
/*        display: grid;*/
/*        grid-template-columns: auto;*/
/*        grid-template-rows: 56px minmax(350px, auto) auto;*/
/*        grid-template-areas:*/
/*      "head-main"*/
/*      "content-main"*/
/*      "foot-main";*/
/*        !* next lines prevent implicit grid items from showing - more experimentation may be needed? *!*/
/*        grid-auto-rows: min-content;*/
/*        grid-auto-columns: min-content;*/
/*        overflow-x: hidden;*/
/*        overflow-y: scroll;*/
/*    }*/
/*}*/