<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div class="ga-content-main">
            <div>
                <main>
                    <form method="post" action="/student/create" class="ui-form">
                        <h1>Create Student</h1>
                        <input name="uid" type="hidden" id="uid"/>
                        <div class="mb-3">
                            <input class="form-control" type="hidden" id="display-name"
                                    th:field="${student.name}"/>
                        </div>
                        <div class="mb-3">
                            <input onfocus="assignUid()" class="form-control btn btn-primary"
                                   type="submit" value="Create"/>
                        </div>
                    </form>

                </main>
            </div>
            <div>green</div>
            <div>blue</div>
            <div>yellow</div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>

</fbauth-element>
<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>

</html>