<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body layout="layout-secured">
<fbauth-element>
  <div layout="layout-home">
    <header th:replace="~{fragments/header :: header(${activePage})}"></header>
    <div class="ga-content-main welcome">
      <div class="display-small-bold-italic">Welcome to coder packaging</div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
  </div>
</fbauth-element>
</body>
</html>