<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="./springwise.css">
<script>
	function toggleDarkMode() {
		const theme = document.documentElement.getAttribute('data-theme') === 'dark' ? 'light'
				: 'dark';
		document.documentElement.setAttribute('data-theme', theme);
		localStorage.setItem('theme', theme);
	}

	// Load the user's preferred theme from localStorage
	const savedTheme = localStorage.getItem('theme');
	if (savedTheme) {
		document.documentElement.setAttribute('data-theme', savedTheme);
	}
	toggleDarkMode()
</script>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Index</title>
</head>
<body>
<button onclick="toggleDarkMode()">Toggle Dark Mode</button>
	<h1>Index Page</h1>
	<h2>Checkout the links below to see what we're working on!</h2>
	<div>
		<a href="/ducks">Ducks</a>
	</div>
	<div>
		<a href="/springprojects">Spring Projects</a>
	</div>
	<div>
		<a href="/dog/">Dogs</a>
	</div>
	<div>
		<a href="/car/">Cars</a>
	</div>

</body>
</html>