<!DOCTYPE html>
<html th:with="checkinService=${@checkinService}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<ul class="ui-navbar-nav">
    <button class="ui-nav-item ui-button" type="button"><a href="/checkin/create">Create New</a>
    </button>
    <button class="ui-nav-item ui-button" type="button"><a href="/checkin/blockers">Blocker Read</a>
    </button>
    <button class="ui-nav-item ui-button" type="button"><a href="/checkin/Activities">Coders Activities</a>
    </button>
</ul>
<main>
    <div class="ui-table" role="region" tabindex="0">
        <table>
            <thead>
            <tr>
                <th scope="col">Name:</th>
                <th scope="col">issue:</th>
                <th scope="col">Date/Time:</th>
                <th scope="col">Role:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="checkin: ${checkins}">
                <td><span th:text="${checkin.name}"></span></td>
                <td><span th:text="${checkin.issueNumber}"></span></td>
                <td><span readonly th:text="${#dates.format(checkin.date, 'MMM d, yyyy hh:mm a')}"></span></td>
                <td><span readonly th:text="${checkin.role}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
