<!DOCTYPE html>
<html th:with="checkinService=${@checkinService}"
      th:replace="~{fragments/baseLayout :: layout(~{::title}, ~{::main},~{::ul} )}">
<body class="ui-background">
<ul class="ui-navbar-nav">
    <button class="ui-nav-item ui-button" type="button"><a href="/checkin/">Read</a>
    </button>
    <button class="ui-nav-item ui-button" type="button"><a href="/checkin/Activities">Coders
        Activities</a>
    </button>
</ul>
<main>
    <form action="/checkin/create" class="ui-form" method="post">
        <input id="uid" name="uid" type="hidden"/>
        <div class="ui-input-field">
            <label class="ui-label">Next Assignment:</label>
            <div class="ui-text-input">
                <input class="ui-value" placeholder="ex: 1, 10, 15..."
                       th:field="${checkin.nextAssignment}"
                       type="number"/>
            </div>
        </div>
        <label th:if="${checkin.nextAssignment < 6}" class="ui-checkbox">
            <input th:field="${checkin.blocker}" type="checkbox"/>
            <span>I have a Blocker</span>
        </label>
        <div th:if="${checkin.nextAssignment < 6}" class="ui-input-field">
            <label class="ui-label">Blocker Description:</label>
            <div class="ui-text-input">
                <input class="ui-value" placeholder="ex: my 'while' loop is looping..."
                       th:field="${checkin.blockerDescription}"
                       type="text"/>
            </div>
        </div>


        <button class="ui-nav-item ui-button" type="submit"><span>Create</span></button>
    </form>
</main>
</body>

</html>