<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>

<body layout="layout-secured">
    <fbauth-element>
        <div layout="layout-sidebar">
            <header th:replace="~{fragments/header :: header(${activePage})}"></header>
            <div class="sidebar-grid-area">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/checkin/">Checkin
                                    Home</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <form method="post" action="/checkin/create">
                        <h1>Create Checkin</h1>
                        <input name="uid" type="hidden" id="uid" />
                        <div class="mb-3">
                            <label class="form-label">Next Assignment:</label> <input class="form-control" type="number"
                                th:field="${checkin.nextAssignment}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Blockers:</label>
                            <input type="checkbox" th:field="${checkin.blockers}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Blocker Description:</label> <input type="text"
                                th:field="${checkin.blockerDescription}" />
                        </div>
                        <label class="form-label">Live Coding Session?</label> <input type="checkbox"
                            id="toggleCheckbox" name="toggleCheckbox"><br>
                        <br>
                        <div id="controlsToToggle" style="display: none;">
                            <div class="mb-3">
                                <label class="form-label">Box Ready for Live Coding?:</label> <input type="checkbox"
                                    th:field="${checkin.isSetUp}" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Are You Available/willing to
                                    Code?:</label> <input type="checkbox" th:field="${checkin.available}" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Role:</label> <select class="form-control"
                                    th:field="*{checkin.role}">
                                    <option th:each="role : ${roleList}" th:value="${role}"
                                        th:text="${#strings.capitalize(role.toString())}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Coding Type:</label> <select class="form-control"
                                    th:field="*{checkin.codingType}">
                                    <option th:each="codingType : ${codingType}" th:value="${codingType}"
                                        th:text="${#strings.capitalize(codingType.toString())}">
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Issue Number:</label> <input class="form-control"
                                    type="number" th:field="${checkin.issueNumber}" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control btn btn-primary" type="submit" value="Create" />
                        </div>
                        <div class="mb-3">
                            <input class="form-control btn btn-secondary" type="" value="Start Time/End Time" />
                        </div>
                    </form>
                </main>
            </div>
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </fbauth-element>
    <div th:replace="~{fragments/togglescript :: script}"></div>
    <div th:replace="~{fragments/authscript :: script}"></div>
</body>

</html>