<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">Check In</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/checkin/create">Create New</a></button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <form method="post" class="ui-form" action="/checkin/create">
                        <input name="uid" type="hidden" id="uid"/>
                        <div class="ui-input-field">
                            <label class="ui-label">Next Assignment:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="number" placeholder="ex: 1, 10, 15..."
                                       th:field="${checkin.nextAssignment}"/>
                            </div>
                        </div>
                        <label class="ui-checkbox">
                            <input type="checkbox" th:field="${checkin.blockers}"/>
                            <span>I have a Blocker</span>
                        </label>
                        <div class="ui-input-field">
                            <label class="ui-label">Blocker Description:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" type="text" placeholder="ex: my 'while' loop is looping..."
                                       th:field="${checkin.blockerDescription}"/>
                            </div>
                        </div>
                        <label class="ui-checkbox">
                            <input type="checkbox" id="toggleCheckbox" name="toggleCheckbox"/>
                            <span>This is a LiveCoding session</span>
                        </label>
                        <!--                        <br><br>-->
                        <div id="controlsToToggle" style="display: none;">
                            <div class="ui-toggle-controls">
                                <label class="ui-checkbox">
                                    <input type="checkbox" th:field="${checkin.isSetUp}"/>
                                    <span>My box is ready for LiveCoding</span>
                                </label>
                                <label class="ui-checkbox">
                                    <input type="checkbox" th:field="${checkin.available}"/>
                                    <span>I am available / willing to Code</span>
                                </label>
                                <div class="ui-input-field">
                                    <label class="ui-label">Role:</label>
                                    <select class="ui-text-dropdown" th:field="*{checkin.role}">
                                        <option class="ui-option" th:each="role : ${roleList}" th:value="${role}"
                                                th:text="${#strings.capitalize(role.toString())}"></option>
                                    </select>
                                </div>
                                <div class="ui-input-field">
                                    <label class="ui-label">Coding Type:</label>
                                    <select class="ui-text-dropdown" th:field="*{checkin.codingType}">
                                        <option class="ui-option" th:each="codingType : ${codingType}"
                                                th:value="${codingType}"
                                                th:text="${#strings.capitalize(codingType.toString())}"></option>
                                    </select>
                                </div>
                                <div class="ui-input-field">
                                    <label class="ui-label">Issue Number:</label>
                                    <div class="ui-text-input">
                                        <input class="ui-value" type="number" placeholder="ex: 458"
                                               th:field="${checkin.issueNumber}"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="clientTimeZone" id="clientTimeZone" />
                        <button class="ui-nav-item ui-button" type="submit"><span>Create</span></button>
                        <button class="ui-nav-item ui-button-secondary" type="button"><span>Start Time/End Time</span></button>
                    </form>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>
<div th:replace="~{fragments/togglescript :: script}"></div>
<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
<div th:replace="~{fragments/timezone-script :: script}"></div>
</body>

</html>