<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">Check In</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/checkin/create">Create New</a></button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <div class="ui-table" role="region" tabindex="0">
                        <table>
                            <thead>
                            <tr>
                                <th scope="col">Next Assignment:</th>
                                <th scope="col">Blockers:</th>
                                <th scope="col">Blocker Description:</th>
                                <th scope="col">Box Ready for Live Coding?:</th>
                                <th scope="col">Are You Available/willing to Code?:</th>
                                <th scope="col">Role:</th>
                                <th scope="col">Coding Type:</th>
                                <th scope="col">Issue Number:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="checkin: ${checkins}">
                                <td><span th:text="${checkin.nextAssignment}"></span></td>
                                <td><span th:text="${checkin.blockers}"></span></td>
                                <td><span th:text="${checkin.blockerDescription}"></span></td>
                                <td><span th:text="${checkin.isSetUp}"></span></td>
                                <td><span th:text="${checkin.available}"></span></td>
                                <td><span th:text="${checkin.role}"></span></td>
                                <td><span th:text="${checkin.codingType}"></span></td>
                                <td><span th:text="${checkin.issueNumber}"></span></td>
                                <td>
                                    <a th:href="@{/checkin/update/{checkinId}(checkinId=${checkin.id})}">
									<span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-view-list" viewBox="0 0 16 16">
                                            <path d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z"/>
                                        </svg>
                                    </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>
<div th:replace="~{fragments/authscript :: script}"></div>
</body>
</html>











