<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="fragments/data/dataHead :: dataHead(pageTitle='Checkin Update')"></div>
<body layout="layout-index">
<header th:replace="~{fragments/header :: header(${activePage})}"></header>
<!--<div class="ga-head-l"></div>-->

<div class="sidebar-grid-area">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active"
                                        aria-current="page" href="/checkin/">Checkin Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/checkin/create">Create
                    Checkin</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="grey-back ga-content5-main">
    <main class="markdown-body">
        <div>
            <form method="post" action="/checkin/update" class="mb-3">
                <h1>Update Checkin</h1>
                <input class="form-control" type="hidden" th:field="${checkin.id}"/>
                <label class="form-label">Date: </label>
                <input class="form-control" type="text" th:field="${checkin.date}" disabled/>
                <br>
                <label class="form-label">Assignment: </label>
                <input class="form-control" type="number" th:field="${checkin.assignment}"/>
                <br>
                <label class="form-label">Blockers: </label>
                <input type="checkbox" th:field="${checkin.blockers}"/>
                <br>
                <label class="form-label">SpringWise: </label>
                <input type="checkbox" th:field="${checkin.springWise}"/>
                <br>
                <label class="form-label">Available: </label>
                <input type="checkbox" th:field="${checkin.available}"/>
                <br>
                <input class="form-control btn btn-primary mt-3" type="submit" value="Update"/>
            </form>
            <form method="post" action="/checkin/delete" class="mb-3">
                <input type="hidden" th:field="${checkin.id}"/> <input class="form-control btn btn-danger" type="submit"
                                                                       value="Delete"/>
            </form>
        </div>
    </main>
</div>

<!--<div class="grey-back ga-content5-r"></div>-->

<div class="ga-foot-main footerback">
    <div th:replace="~{fragments/Footer/footerNewUI :: footer}"></div>
</div>

<!--<div class="ga-foot-r footer-back"></div>-->
<!--</fbauth-element>-->
</body>
</html>