<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">Check In</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/checkin/create">Create New</a>
                        </button>
                        <button class="ui-nav-item ui-button" type="button"><a aria-current="page"
                                                                               href="/checkin/">Back</a></button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <form action="/checkin/update" class="ui-form" method="post">
                        <input class="form-control" th:field="${checkin.id}" type="hidden"/> <br>
                        <div class="ui-input-field">
                            <label class="ui-label">Date:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" disabled th:field="${checkin.date}" type="text"/>
                            </div>
                        </div>

                        <div class="ui-input-field">
                            <label class="ui-label">Next Assignment:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" placeholder="ex: 1, 10, 15..."
                                       th:field="${checkin.nextAssignment}"
                                       type="number"/>
                            </div>
                        </div>

                        <label class="ui-checkbox">
                            <input th:field="${checkin.blockers}" type="checkbox"/>
                            <span>I have a Blocker</span>
                        </label>
                        <div class="ui-input-field">
                            <label class="ui-label">Blocker Description:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" placeholder="ex: my 'while' loop is looping..."
                                       th:field="${checkin.blockerDescription}"
                                       type="text"/>
                            </div>
                        </div>
                        <div>
                            <!--                            Add Form Here!!!! Make sure its not nested!!!-->

                        </div>
                        <button class="ui-nav-item ui-button" type="submit"><span>Update</span></button>
                        <!--                        <button class="ui-nav-item ui-button-secondary" type="button"><span>Start Time/End Time</span></button>-->
                        <input id="uid" name="uid" type="hidden"/>
                    </form>
                    <form action="/checkin/delete" class="ui-form" method="post" style="padding-top:0;">
                        <input th:field="${checkin.id}" type="hidden"/>
                        <button class="ui-nav-item ui-button-danger" type="submit"><span>Delete</span></button>
                    </form>
                    <!--                    <div th:each="role : ${roleList}"></div> Something like this-->
                    <hr>
<!--                    <form action="/activityLog/create" class="ui-form" method="post">-->
<!--                        <div class="ui-input-field">-->
<!--                            <label class="ui-label">-->
<!--                                Comment:-->
<!--                            </label>-->
<!--                            <div class="ui-text-input">-->
<!--                                    <textarea class="ui-value" cols="20" name="comment" placeholder="Add a comment"-->
<!--                                              rows="5"-->
<!--                                              th:field="${activityLog.comment}"></textarea>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <label class="ui-checkbox">-->
<!--                            <input id="toggleCheckbox" name="toggleCheckbox" type="checkbox"/>-->
<!--                            <span>This is a LiveCoding session</span>-->
<!--                        </label>-->
<!--                     &lt;!&ndash;   <label class="ui-checkbox">-->
<!--                            <input th:field="${activityLog.isSetUp}" type="checkbox"/>-->
<!--                            <span>My box is ready for LiveCoding</span>-->
<!--                        </label>&ndash;&gt;-->
<!--                        <label class="ui-checkbox">-->
<!--                            <input th:field="${activityLog.available}" type="checkbox"/>-->
<!--                            <span>I am available / willing to Code</span>-->
<!--                        </label>-->
<!--                        <div class="ui-input-field">-->
<!--                            <label class="ui-label">Role:</label>-->
<!--                            <select class="ui-text-dropdown" th:field="*{checkin.role}">-->
<!--                                <option class="ui-option" th:each="role : ${roleList}"-->
<!--                                        th:text="${#strings.capitalize(role.toString())}"-->
<!--                                        th:value="${role}"></option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="ui-input-field">-->
<!--                            <label class="ui-label">Coding Type:</label>-->
<!--                            <select class="ui-text-dropdown" th:field="*{checkin.codingType}">-->
<!--                                <option class="ui-option" th:each="codingType : ${codingType}"-->
<!--                                        th:text="${#strings.capitalize(codingType.toString())}"-->
<!--                                        th:value="${codingType}"></option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="ui-input-field">-->
<!--                            <label class="ui-label">Issue Number:</label>-->
<!--                            <div class="ui-text-input">-->
<!--                                <input class="ui-value" placeholder="ex: 458" th:field="${activityLog.issueNumber}"-->
<!--                                       type="number"/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <button class="ui-nav-item ui-button" type="submit"><span>Add Activity</span></button>-->
<!--                    </form>-->
                    <form action="/activityLog/create" class="ui-form" method="post">
                        <!--                        <h1 class="title-small">Create Checkin</h1>-->
                        <div class="ui-input-field">
                            <label class="ui-label">Comment:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="display-name" th:field="${activityLog.comment}" type="text"/>
                            </div>
                        </div>
                        <button class="ui-nav-item ui-button" type="submit"><span>Create</span></button>
                    </form>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>
<div th:replace="~{fragments/togglescript :: script}"></div>
<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>
</html>
