<!DOCTYPE html>
<html th:replace="~{fragments/baseLayout :: layout(~{::title}, ~{::main},~{::ul} )}">
<body class="ui-background">
<ul class="ui-navbar-nav">
    <button class="ui-nav-item ui-button" type="button"><a href="/networkingperson/create">Create New</a>
    </button>
</ul>
<main>
    <form action="/networkingperson/update" class="ui-form" th:object="${networkingperson}" method="post">
        <input name="uid" th:field="${networkingperson.id}" type="hidden"/>
 <div class="ui-input-field">
            <label for="name" class="ui-label">Name:</label>
            <div class="ui-text-input">
                <input class="ui-value" id="name" th:field="*{name}" type="text"/>
            </div>
        </div>
        <div class="ui-input-field">
            <label for="linkedinUrl" class="ui-label">LinkedIn Url:</label>
            <div class="ui-text-input">
                <input class="ui-value" id="linkedinUrl" th:field="*{linkedinUrl}" type="text"/>
            </div>
        </div>
        <div class="ui-input-field">
            <label for="techStack" class="ui-label">Tech Stack:</label>
            <div class="ui-text-input">
                <input class="ui-value" id="techStack" th:field="*{techStack}" type="text"/>
            </div>
        </div>
        <div class="ui-input-field">
            <label for="firstContactDate" class="ui-label">First Contact Date:</label>
            <div class="ui-text-input">
                <input class="ui-value" id="firstContactDate" th:field="*{firstContactDate}" type="text"/>
            </div>
        </div>
        <div class="ui-input-field">
            <label for="lastContactDate" class="ui-label">Last Contact Date:</label>
            <div class="ui-text-input">
                <input class="ui-value" id="lastContactDate" th:field="*{lastContactDate}" type="text"/>
            </div>
        </div>
        <div class="ui-input-field">
            <label for="otherNotesAboutPerson" class="ui-label">Other Notes About Person:</label>
            <div class="ui-text-input">
                <input class="ui-value" id="otherNotesAboutPerson" th:field="*{otherNotesAboutPerson}" type="text"/>
            </div>
        </div>
        <button class="ui-nav-item ui-button" type="submit"><span>Update</span></button>
    </form>
    <form action="/networkingperson/delete" class="ui-form" method="post" style="padding-top:0;">
        <input th:field="${networkingperson.id}" type="hidden"/>
        <button class="ui-nav-item ui-button-danger" type="submit"><span>Delete</span></button>
    </form>
</main>
</div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</div>
</fbauth-element>

<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>

</html>