<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/data/dataHead :: dataHead(${pageTitle})}"></div>
<body layout="layout-index">
<header th:replace="~{fragments/header :: header(${activePage})}"></header>
<!--<div class="ga-head-l"></div>-->

<div class="sidebar-grid-area">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active"
                                        aria-current="page" href="/user-history/">User History Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/user-history/create">Create
                    User History</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="grey-back ga-content5-main">
    <main class="markdown-body">
        <div>
            <form method="post" action="/user-history/update" class="mb-3">
                <h1>Upadate User History</h1>
                <input class="form-control" type="hidden" th:field="${userHistory.id}"/>
                <label class="form-label">Name: </label>
                <input class="form-control" type="text" th:field="${userHistory.name}"/>
                <label class="form-label">Issue: </label>
                <input class="form-control" type="text" th:field="${userHistory.issue}"/>
                <label class="form-label">Date: </label>
                <label class="form-label" th:text="${userHistory.date}"> </label>
                <input class="form-control" type="hidden" th:field="${userHistory.date}"/>
                <input class="form-control btn btn-primary mt-3" type="submit" value="Update"/>
            </form>
            <form method="post" action="/user-history/delete" class="mb-3">
                <input type="hidden" th:field="${userHistory.id}"/> <input class="form-control btn btn-danger"
                                                                           type="submit"
                                                                           value="Delete"/>
            </form>
        </div>
    </main>
</div>

<!--<div class="grey-back ga-content5-r"></div>-->

<div class="ga-foot-main footerback">
    <div th:replace="~{fragments/Footer/footerNewUI :: footer}"></div>
</div>

<!--<div class="ga-foot-r footer-back"></div>-->
</body>

</html>