<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">User Queue</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/user-history/create">Create
                            New</a></button>
                        <button class="ui-nav-item ui-button" type="button"><a aria-current="page"
                                                                               href="/user-history/">Back</a></button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <form action="/user-history/update" class="ui-form" method="post">
                        <input class="form-control" th:field="${userHistory.id}" type="hidden"/>

                        <div class="ui-input-field">
                            <label class="ui-label">Name:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="display-name" th:field="${userHistory.name}" type="text"/>
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label class="ui-label">Issue #:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" placeholder="ex: 461" th:field="${userHistory.issue}"
                                       type="number"/>
                            </div>
                        </div>
                        <button class="ui-nav-item ui-button" type="submit"><span>Update</span></button>
                    </form>
                    <form action="/user-history/delete" class="ui-form" method="post" style="padding-top:0;">
                        <input th:field="${userHistory.id}" type="hidden"/>
                        <button class="ui-nav-item ui-button-danger" type="submit"><span>Delete</span></button>
                    </form>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>
<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>
</html>









