<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <link rel="stylesheet" href="/CSS/grid.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>

<body layout="layout-index">
<div class="ga-head-l"></div>
<header id="main-header" class="header-grid-area">
    <button id="mobile-menu-trigger" data-action="trigger-mobile-menu">
        <span class="sr-only">Show Menu</span>
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512" class="icon">
            <path fill="currentColor"
                  d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z">
            </path>
        </svg>

    </button>
    <a class="navbar-brand" href="/">All Projects</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    </div>
</header>
<div class="ga-head-r"></div>
<div class="grey-back ga-content5-l">

</div>
<div class="grey-back ga-content5-main">
    <main class="markdown-body">
        <h1 id="cillum"><a class="anchor" href="#cillum">
            <svg class="octicon octicon-link" viewBox="0 0 16 16"
                 aria-hidden="true" width="16" height="16">
                <path fill-rule="evenodd"
                      d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                </path>
            </svg>
        </a>Frog Data
        </h1>
        <div class="container-md mx-auto">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name:</th>
                    <th scope="col">Species:</th>
                    <th scope="col">Age:</th>
                    <th scope="col">View:</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="frog: ${frogs}">

                    <td><span
                            th:text="${frog.name}"></span></td>
                    <td><span th:text="${frog.species}"></span></td>
                    <td><span th:text="${frog.age}"></span></td>
                    <td><a th:href="@{/frog/update/{frogId}(frogId=${frog.id})}">
					<span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                               class="bi bi-view-list" viewBox="0 0 16 16">
  <path d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z"/>
</svg></span> </a></td>
                </tr>

                </tbody>
            </table>

        </div>
    </main>
</div>
<div class="grey-back ga-content5-r"></div>
<div class="ga-foot-main footerback">
    <footer id="main-footer">
        <div id="footer-menu">
            <div class="content-area">
                <div th:replace="~{fragments/footer :: footer}"></div>
            </div>
        </div>
        <div class="theme-standin">Bottom footer content here
        </div>
    </footer>
</div>
<div class="ga-foot-r footer-back"></div>
<div class="sidebar-grid-area">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active"
                                            aria-current="page" href="#">Frog Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/frog/create">Create
                        Frog</a></li>

                </ul>
            </div>
        </div>
    </nav>
</div>
</body>

</html>