<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">GitHub</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/github/create">Create New</a>
                        </button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <div class="ui-table" role="region" tabindex="0">
                        <table>
                            <thead>
                            <tr>
                                <th scope="col">Handle</th>
                                <th scope="col">Enhanced ReadMe</th>
                                <th scope="col">Renamed Assignments</th>
                                <th scope="col">Pinned Repos</th>
                                <th scope="col">External Links</th>
                                <th scope="col">Image</th>
                                <th scope="col">Headline</th>
                                <th scope="col">Contact Details</th>
                                <th scope="col">Url</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="gitHub: ${gitHubs}">
                                <td style="text-align: center"><span th:if="${gitHub.handle == true}"><i
                                        class="fa-regular fa-square-check"
                                        style="color: var(--primary); font-size: 20px; font-weight: 100"></i></span>
                                </td>
                                <td style="text-align: center"><span th:if="${gitHub.enhancedReadMe == true}"><i
                                        class="fa-regular fa-square-check"
                                        style="color: var(--primary); font-size: 20px; font-weight: 100"></i></span>
                                </td>
                                <td style="text-align: center"><span th:if="${gitHub.renamedAssignments == true}"><i
                                        class="fa-regular fa-square-check"
                                        style="color: var(--primary); font-size: 20px; font-weight: 100"></i></span>
                                </td>
                                <td style="text-align: center"><span th:if="${gitHub.pinnedRepos == true}"><i
                                        class="fa-regular fa-square-check"
                                        style="color: var(--primary); font-size: 20px; font-weight: 100"></i></span>
                                </td>
                                <td><span th:text="${gitHub.externalLinks}"></span></td>
                                <td style="text-align: center"><span th:if="${gitHub.image == true}"><i
                                        class="fa-regular fa-square-check"
                                        style="color: var(--primary); font-size: 20px; font-weight: 100"></i></span>
                                </td>
                                <td style="text-align: center"><span th:if="${gitHub.headline == true}"><i
                                        class="fa-regular fa-square-check"
                                        style="color: var(--primary); font-size: 20px; font-weight: 100"></i></span>
                                </td>
                                <td style="text-align: center"><span th:if="${gitHub.contactDetails == true}"><i
                                        class="fa-regular fa-square-check"
                                        style="color: var(--primary); font-size: 20px; font-weight: 100"></i></span>
                                </td>
                                <td><a th:href="${gitHub.url}" th:text="${gitHub.url}" target="_blank"
                                       rel="noopener noreferrer"></a></td>
                                <td>
                                    <a th:href="@{/github/update/{gitHubId}(gitHubId=${gitHub.id})}">
                                        <i class="fa-solid fa-pen-to-square"
                                           style="color: var(--primary); font-size:20px; font-weight:100"></i>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>

<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>
</html>









