<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">GitHub</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/github/create">Create New</a>
                        </button>
                        <button class="ui-nav-item ui-button" type="button"><a aria-current="page"
                                                                               href="/github">Back</a></button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <form action="/github/update" class="ui-form" method="post">
                        <input name="uid" th:field="${gitHub.id}" type="hidden"/>
                        <div class="ui-input-field">
                            <label for="handle" class="ui-label">Handle:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="handle" th:field="${gitHub.handle}" type="text"/>
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label for="enhancedReadMe" class="ui-label">Enhanced ReadMe:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="enhancedReadMe" th:field="${gitHub.enhancedReadMe}" type="text"/>
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label for="renamedAssignments" class="ui-label">Renamed Assignments:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="renamedAssignments" th:field="${gitHub.renamedAssignments}" type="text"/>
                            </div>
                        </div>
                        <div class="ui-input-field">
                            <label for="pinnedRepos" class="ui-label">Pinned Repos:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="pinnedRepos" th:field="${gitHub.pinnedRepos}" type="text"/>
                            </div>
                            <div class="ui-input-field">
                                <label for="externalLinks" class="ui-label">External Links:</label>
                                <div class="ui-text-input">
                                    <input class="ui-value" id="externalLinks" th:field="${gitHub.externalLinks}" type="text"/>
                                </div>
                        </div>
                            <div class="ui-input-field">
                                <label for="image" class="ui-label">Image:</label>
                                <div class="ui-text-input">
                                    <input class="ui-value" id="image" th:field="${gitHub.image}" type="text"/>
                                </div>
                            </div>
                            <div class="ui-input-field">
                                <label for="headline" class="ui-label">Headline:</label>
                                <div class="ui-text-input">
                                    <input class="ui-value" id="headline" th:field="${gitHub.headline}" type="text"/>
                                </div>
                            </div>
                            <div class="ui-input-field">
                                <label for="contactDetails" class="ui-label">Contact Details:</label>
                                <div class="ui-text-input">
                                    <input class="ui-value" id="contactDetails" th:field="${gitHub.contactDetails}" type="text"/>
                                </div>
                            </div>
                            <div class="ui-input-field">
                                <label for="url" class="ui-label">URL:</label>
                                <div class="ui-text-input">
                                    <input class="ui-value" id="url" th:field="${gitHub.url}" type="text"/>
                                </div>
                            </div>
                        <button class="ui-nav-item ui-button" type="submit"><span>Update</span></button>
                    </form>
                    <form action="/github/delete" class="ui-form" method="post" style="padding-top:0;">
                        <input th:field="${gitHub.id}" type="hidden"/>
                        <button class="ui-nav-item ui-button-danger" type="submit"><span>Delete</span></button>
                    </form>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>

<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>

</html>