<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">GitHub</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/github/create">Create New</a>
                        </button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <form action="/github/update" class="ui-form" method="post">
                        <div th:if="${error}" class="ui-error-message">
                            <p th:text="${error}"></p>
                        </div>
                        <input name="uid" th:field="${gitHub.id}" type="hidden"/>
                        <div class="ui-input-field" title="Check this box if you have made a handle">
                            <label for="handle" class="ui-label">Handle:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="handle" th:field="${gitHub.handle}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${gitHub.handle} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have made a enhanced readme">
                            <label for="enhancedReadMe" class="ui-label">Enhanced ReadMe:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="enhancedReadMe"
                                       th:field="${gitHub.enhancedReadMe}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${gitHub.enhancedReadMe} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have made a renamed assignments">
                            <label for="renamedAssignments" class="ui-label">Renamed Assignments:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="renamedAssignments"
                                       th:field="${gitHub.renamedAssignments}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${gitHub.renamedAssignments} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have made a pinned repos">
                            <label for="pinnedRepos" class="ui-label">Pinned Repos:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="pinnedRepos" th:field="${gitHub.pinnedRepos}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${gitHub.pinnedRepos} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>


                        <div class="ui-input-field"
                             title="Check this box when you have links to other job application materials accessible">
                            <label for="externalLinks" class="ui-label">External Links:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="externalLinks" th:field="*{externalLinks}" type="text"/>
                            </div>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have made a image">
                            <label for="image" class="ui-label">Image:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="image" th:field="${gitHub.image}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${gitHub.image} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have made a headline">
                            <label for="headline" class="ui-label">Headline:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="headline" th:field="${gitHub.headline}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${gitHub.headline} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>
                        <div class="ui-input-field" title="Check this box if you have made a contact details">
                            <label for="contactDetails" class="ui-label">Contact Details:</label>
                            <label class="ui-checkbox">
                                <input class="ui-hidden-checkbox" id="contactDetails"
                                       th:field="${gitHub.contactDetails}"
                                       type="checkbox">
                                <span class="ui-toggle"></span>
                                <span class="ui-toggle-text"
                                      th:text="${gitHub.contactDetails} ? 'Complete' : 'Not Complete'"></span>
                            </label>
                        </div>

                        <div class="ui-input-field" title="">
                            <label for="url" class="ui-label">URL:</label>
                            <div class="ui-text-input">
                                <input class="ui-value" id="url" th:field="*{url}" type="url"/>
                            </div>
                        </div>

                        <button class="ui-nav-item ui-button" type="submit"><span>Update</span></button>
                    </form>
                    <form action="/github/delete" class="ui-form" method="post" style="padding-top:0;">
                        <input th:field="${gitHub.id}" type="hidden"/>
                        <button class="ui-nav-item ui-button-danger" type="submit"><span>Delete</span></button>
                    </form>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>

<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
<div th:replace="~{fragments/tasktogglescript :: script}"></div>
</body>

</html>